/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
*,h1,h2,h3,h4,h5,h6,p,hr{
  margin: 0;
  padding: 0;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 42px;
  font-family: 'Work Sans', Arial, sans-serif;
  background-color: #e6e6e6;
  color: #A8A8A8;
  overflow-x: hidden;
}
img
{
  display: flex;
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  max-width: 1230px;
  width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}

/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}

.certificate__header {
  position: relative;
  padding: 395px 115px 205px;
  background-color: #1C1C1C;
  background-image: url(../img/header-bg.png);
  background-size: cover;
}
.certificate__header--about {
  max-width: 384px;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  color: #D9D9D9;
  margin-bottom: 36px;
}
.certificate__header--about span{
  color: #FFD600;
}
.certificate__header--title {
  font-size: 147px;
  font-weight: 800;
  line-height: 172px;
  letter-spacing: 0.07em;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.certificate__header--name {
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.certificate__header--info {
  max-width: 793px;
  text-align: left;
}
.certificate__header--info span{
  color: #fff;
}
.certificate__header--label{
  position: absolute;
  top: 65px;
  right: 115px;
}

/* CERTIFICATE-INFO */
.certificate__info {
  position: relative;
  padding: 250px 115px 85px;
  background-image: url(../img/info-bg.png);
  background-size: cover;
  background-position: center center;
}
.certificate__info--inner div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.certificate__info--inner div:first-child{
  margin-bottom: 25px;
}
.certificate__info--img:first-child {
  border-bottom: 0.38px solid #000000;
  padding-bottom: 14px;
}
.certificate__info--title {
font-size: 24px;
font-weight: 400;
line-height: 35px;
color: #000000;
}
.certificate__info--date {
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  color: #5c5c5c;
}
.certificate__info--qr {
  position: absolute;
  top: -75px;
  left: calc(50% - 75px);
}